@charset "utf-8";

@page {
  size: Letter portrait;
  margin: .75in;
}

@media print {
  * {
    background-color: #FFFFFF;
    color: #000000;
  }

  html {
    width: 100%;
    height: 100%;
  }

  body {
    font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
      Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol;
    line-height: 1.4;
    background: 0 0 !important;
  }

  #site-header  {
    display: none;
  }

  footer {
    display: none;
  }

  main > div.post-nav {
    display: none;
  }

  div.related-posts {
    display: none;
  }

  a.anchor {
    display: none;
  }

  p {
    font-size: 12pt;
  }

  h1 {
    font-size: 20pt;
  }

  h2 {
    font-size: 14pt;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 12pt;
  }

  a {
    text-decoration: none;
    border: none;
    box-shadow: none;
    color: #000000;

  }

  a[href]:after {
    content: none !important;
  }

  .title {
    padding: 0;
    margin: 0 auto;
  }

  nav.menu,
  nav.menu-under,
  section.details {
    display: none !important;
  }

  #method {
    page-break-before: always;
  }
}
